<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Appointment</title>
    <link rel="stylesheet" href="../public/forms.css">
</head>
<body>
    <main>
        <form class="product-form" method="POST">
            <div class="form-control">
                <label for="name">User Name:</label>
                <input type="text" name="name" id="name" >
            </div>
            <div class="form-control">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" >
            </div>
            <div class="form-control">
                <label for="phone">Phone Number</label>
                <input type="tel" name="phone" id="phone">
            </div>

            <button class="btn" type="submit">Add User</button>
        </form>
    </main>
    <main>
        <% if (users.length > 0) { %>
            <div class="grid">
                <% for (let user of users) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">
                                <%= user.name %>
                            </h1>
                        </header>
                        <div class="card__content">
                            <h2 class="product__price">$
                                <%= user.email %>
                            </h2>
                            <p class="product__description">
                                <%= user.phone %>
                            </p>
                        </div>
                    </article>
                    <% } %>
            </div>
            <% } else { %>
                <h1>No Users Found!</h1>
                <% } %>
    </main>

    
</body>
</html>